__pycache__/
*.py[cod]
*.pyo
*.pyd

.venv/
venv/
env/
.mypy_cache/
.pytest_cache/

*.log
*.tmp
*.bak
*.zip
*.7z

*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.out
*.synctex.gz

.DS_Store
Thumbs.db

mosek.lic
MOSEKLM_LICENSE_FILE
